body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

header{
  background-color: #b3d9ff;
}

nav{
  background-color: #4d94ff;
}

main{
  background-color: #e6f2ff;
  font-size: 120%;
}

footer{
  background-color: #cce0ff;
}

li{
  display: inline;
  width: 30%;
}

h1{
  text-align: center;
  font-family: Georgia, serif;
  color: #003366;
}

p{
  line-height: 1.8;
}