body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

header{
  background-color: #b3d9ff;
}

nav{
  background-color: #4d94ff;
  display: inline-block;
  width: 80%;
}

main{
  background-color: #e6f2ff;
  font-size: 120%;
}

footer{
  background-color: #cce0ff;
}

/*
li{
  display: inline;
  width: 30%;
}
*/

nav img{
  width: 10%;
}

.grid{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
  align-items: start;
  row-gap: 10px;
}

.grid img{
  width: 100%;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1{
  text-align: center;
  font-family: Georgia, serif;
  color: #003366;
}

p{
  line-height: 1.8;
}